[Unit]
Description=Transparent Proxy (%i)
After=network-online.target %i.service
BindsTo=%i.service
Requires=network-online.target
Conflicts=tproxy@*.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment=TPROXY_INSTANCE=%i
ExecStart=/usr/local/libexec/tproxy.sh start
ExecStop=/usr/local/libexec/tproxy.sh stop

[Install]
WantedBy=multi-user.target